body {
  margin: 0;
}

#root {
  padding: 0;
  margin: 0;
  display: flex;
  font-family: Nunito;
  flex-direction: column;
}

.container {
  display: flex;
  padding: 1rem;
}

.button {
  border: 1px black solid;
}

.button:hover {
  color: white;
  background: grey;
}

/*Header*/
.header {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid black;
  justify-content: space-between;
  padding-right: 30px;
}

.logo {
  align-items: center;
}

.navigation {
  align-items: center;
}

.navigation-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}

.navigation-list-item {
  margin: 1rem;
}

.nav-icon {
  display: none;
}

.main.container {
  box-sizing: border-box;
}

/*Posts*/

.post.container {
  width: 75%;
}

.post-table {
  width: 100%;
}

th {
  justify-content: center;
}

/*Post Form*/
.post-form.container {
  width: 25%;
  border: 1px black solid;
}

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-form.button {
  display: flex;
  width: 4rem;
  text-align: center;
}



@media(max-width: 530px) {
  .navigation-list {
    display: none;
  }

  .nav-icon {
    display: flex;
  }
}
